/*All page body*/  
body{
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
}

/*Login Page*/ 
.loginform{
    background-color: #fdf1e3; 
    text-align: center;
    border-style: solid;
    width: 60%;
    border-radius: 50px;
    padding: 5px 20px 20px 20px;
    margin: 50px 240px 50px 240px;
} 
.loginform h1{
    font-family: monospace;
    font-size: 500%;
}
.loginform label{
    font-family: monospace;
    font-size: 220%;
}
.loginform input{
    font-family: monospace;
    font-size: 150%;
    width: 35%; 
    margin: 2px;  
    background-color: rgb(203, 212, 189);
}
.loginform button{
    font-family: monospace;
    font-size: 150%;
    width: 15%;
    height: 50px;
    margin: 2px;
    background-color: rgb(238, 238, 207);
}


/*Index*/
.home a{
    font-size: 205%;
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(238, 238, 207);
    padding: 0.3%;
}
.home{
    background-image: url(images/todo\ color\ revise.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    margin: 5px;
    border-bottom: solid;
}

.about{
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    margin: 5px;
    border-bottom: solid;
    background-color: antiquewhite;
}
.about h2{
    font-family: monospace;
    font-size: 60;
}
.about p{
    font-size: 220%;
    width: 80%;
    padding: 10px 130px 80px;
    font-family: monospace;
}

.about a{
    font-size: 230%;
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(238, 238, 207);
    padding: 5px;
    margin: 2px;
}


.work{
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    margin: 5px;
    border-bottom: solid;
    background-color: antiquewhite;
}
.work h2{
    font-family: monospace;
    font-size: 60px;
}
.work label{
    font-family: monospace;
    font-size: 250%;
}
.work button{
    font-family: monospace;
    font-size: 250%;
    width: 15%;
    height: 70px;
    margin-top: 30px;
    background-color: rgb(238, 238, 207);
}

/*List Page*/  
.listform{
    background-color: #fdf1e3; 
    text-align: center;
    border-style: solid;
    width: 60%;
    border-radius: 50px;
    padding: 2%;
    margin: 5% auto;
 
}
.listform h1{
    font-family: monospace;
    font-size: 500%;
}
.listform label{
    font-family: monospace;
    font-size: 220%;
}
.listform input{
    font-family: monospace;
    font-size: 150%;
    width: 40%; 
    margin: 2px;  
    background-color: rgb(203, 212, 189);
}
.listform button{
    font-family: monospace;
    font-size: 150%;
    width: 15%;
    height: 50px;
    margin: 2px;
    margin-bottom: 20px;
    background-color: rgb(238, 238, 207);
}

.listform table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: middle;
}
.listform th{
    font-family: monospace;
    font-size: 150%;
}
.listform td{
    font-family: monospace;
    font-size: 120%;
}


/*For other devices*/  
@media only screen and (max-width: 800px){
/*Login Page*/  
    .loginform h1{
        font-size: 450%;
    }
    .loginform label{
        font-size: 150%;
    }
    .loginform input{
        font-size: 100%;
        width: 50%; 
        margin: 1px;  
    }
    .loginform button{
        font-size: 100%;
        width: 30%;
        height: 30px;
        margin: 1px;
    }
    .loginform{
        border-style: solid;
        border-radius: 50px;
        width: 80%;
        padding: 5px 5px 20px 5px; 
        margin: 15px 30px 20px 30px;
     
    }



/*Index Page*/  
    .home a{
        font-size: 150%;
        padding: 0.3%;
    }
    .home{
        background-size:auto;
        margin: 5px;
        border-bottom: solid;
    }


    .about{
        padding-bottom: 5%;
        margin: 5px;
    }
    .about h2{
        font-size: 400%;
        padding-top: 40px;
    }
    .about p{
        font-size: 140%;
        width: 80%;
        padding: 20px 30px;
    }
    
    .about a{
        font-size: 200%;
        padding: 5px;
    }
    

    .work{
        padding-bottom: 5%;
        margin: 5px;
    }
    .work h2{
        font-size: 400%;
        padding-top: 40px;
    }
    .work label{
        font-size: 150%;
    }
    .work button{
        font-size: 200%;
        width: 50%;
        height: 10%;
        margin: 50px;
    }

/*List Page*/  
    .listform h1{
        font-size: 300%;
    }
    .listform label{
        font-size: 140%;
    }
    .listform input{
        font-size: 100%;
        width: 50%; 
        margin: 1px;  
    }
    .listform button{
        font-size: 100%;
        width: 30%;
        height: 25px;
        margin: 1px;
    }
    .listform{
        border-style: solid;
        border-radius: 50px;
        width: 80%;
        padding: 5px 5px 20px 5px; 
        margin: 50px 30px 20px 30px;
    
    }
    .listform table, th, td{
        border-collapse: collapse;
        border: 1px solid;
        width: 70%;
        margin: auto;
        padding: 5px;
        text-align: middle;
    }
    .listform th{
        font-family: monospace;
        font-size: 100%;
    }
    .listform td{
        font-family: monospace;
        font-size: 70%;
    }
}